<div class="general">
  <div class="derecha">
    
    <h1 class="title-table">RECETAS REPORTADAS</h1>

    <div class="tabla">
      <nz-table #basicTable [nzData]="reportRecipes">
        <thead>
          <tr>
            <th>ID de receta</th>
            <th>ID de usuario</th>
            <th>Nombre de receta</th>
            <th>Cantidad de reportes</th>
            <th>Imagen</th>
            <th>Reporte</th>
            <th>Acciones</th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let data of reportRecipes">
            <td>{{ data.recetaID }}</td>
            <td>{{ data.userID }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.quantityReport }}</td>
            <td> <a href='{{ data.image}}' target="_blank"> Ver imagen</a></td>
            <td  (click)="showModal(data.reports)"style="align-items: center;"><span title><span nz-icon nzType="file-search" style="font-size: 30px; color: #08c;"></span></span></td>
            <td>
              <span nz-icon nzType="delete" nzTheme="outline" style="font-size: 30px; color: #08c;" (click)="deshabilitar(data.recetaID)"></span>
              <span nz-icon nzType="issues-close" nzTheme="outline" style="font-size: 30px; color: #08c;" (click)="ignorar(data.recetaID)"></span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

  </div>
</div>

<!--<nz-modal [(nzVisible)]="isVisible" nzTitle="Reportes Registrasdos" (nzOnCancel)="handleCancel()"  nzCancelText="Cerrar" nzOkDisabled="true">
  <ng-container *nzModalContent>
    
  </ng-container>
</nz-modal>-->

<nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #modalTitle>Reportes Registrasdos</ng-template>

      <ng-template #modalContent>
        <nz-table #basicTable [nzData]="infoReportes">
          <thead>
          </thead>
          <tbody>
            <tr *ngFor="let data of infoReportes">
              <td>{{data}}</td>
            </tr>
          </tbody>
        </nz-table>
      </ng-template>

      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cerrar</button>
      </ng-template>
</nz-modal>
