.chart-container{
width: 35rem;
height:20rem;
background-color: aquamarine;
border-radius: 10px;
}
.title{
    color:black;
    text-align: center;
}
.chart-wrapper{
    width: 550px;
    height: 250px;
}