.chart-container{
    
    height:25rem;
    background-color: white;
    border-radius: 10px;
    border-color: black;
    width: 40%;
    }
    
    .chart-wrapper{
        width: 750px;
        height: 350px;
        margin: auto;
        display: flex;
        align-items: center;
    }

.general{
    margin:auto;
    padding: auto;
    width:1200px;
    height:600px;
    background-color: white;
    display: flex;
    align-items: center;
}

.title{
    text-align: center;
    margin:10px;
    font-weight: bold;
}

.derecha{
     width:30%;
     height:100%;
     background-color: white;
     

}


