.login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .logo img {
    display: inline-block;
    height: 200px;
    width: 200px;
    vertical-align: middle;
  }